 @keyframes fadeIn { 
  from { 
    opacity: 0;
    transform: translateY(-20px); 
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes typing {
  from { width: 0; }
  to   { width: 44ch; } 
}

@keyframes blink {
  50% { border-color: transparent; }
}



html {
  scroll-behavior: smooth;
  font-size: 16px;

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/bgoption.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  height: 100vh;
  width: 100%; 
  padding-top: 50px; 
  font-style: italic;
  position: relative;
  
  
     
}


#tabs{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 0;
  padding: 30px 0 10px 0;  
  background: transparent;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  display: flex;                  
  justify-content: space-between; 
  align-items: center;    
  height: 80px;      
  box-sizing: border-box;
}

.logo img {
  height: 130px;  
  width: auto;
  animation-duration: 3s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
}

body.scrolled #tabs{
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  box-shadow:  0 2px 6px rgba(0,0,0,0.1);
}

.sectiontab ul, .proj-sec ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  gap: 50px;
  font-size: 1.5rem;
   
 
}

#tabs ul{
  animation-duration: 3s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  color:#1C1C1C;
  margin: 0 auto;
}

.sectiontab ul li a{
  text-decoration: none;
  color:#1C1C1C;
  font-weight: 100;
  font-style: normal;
  color:white;

    
}

.sectiontab ul li a:hover{
  text-decoration: underline;
  
}



#home {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;        
  text-align: center;
  width: 100%;
  
}


#home h1{
  margin-top: -90px; 
  text-align: center;
  font-size: 6rem;
  font-weight: 300;
  animation-duration: 3s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
  
    
}

#home p{
  text-align: center;
  margin-top: 40px;
  font-size: 1.5rem;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white; 
  width: 0;
  animation: typing 4s steps(38, end) forwards,
  blink .7s step-end infinite;
  animation-fill-mode: both;
  animation-delay: 2s;
  color:white;
  display: inline-block;
  

}

#home p::after {
  content: "";
  display: block;
  width: 70%;        
  height: 2px;
  background: white;  
  margin: 8px auto 0;
}


.section h2{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 15px;
  line-height: 1.8;
  font-weight: 800;
  margin-top: 35px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1px;
  font-style: italic;
  color:white;
  
   
  
}

#about h2, #contact h2{
  color: white;
}

#document h2 a, #projects h2 a{
  text-decoration: none;
  color:white;

}



#about, #document{
  background-color:#0a192f;
  padding-top: 50px; 
  padding-bottom: 100px;
  height: 100vh;
  width: 100%;
  
}

#skills{
  background-color:#3a506b;
  padding-top: 50px; 
  padding-bottom: 100px;
  height: 100vh;
  width: 100%;
  
}

.proj-sec , .lang-sec, .doc-sec{
  display: none;
}

.proj-sec:target , .lang-sec:target, .doc-sec:target{
  display: block;

}



.btn ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  gap: 50px;
  font-size: 1.5rem;
  animation-duration: 3s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: 6s;
  color:#1C1C1C;
  margin-top: 20px;
    
}

.btn ul li a{
  display: inline-block;   
  text-decoration: none;
  border: 2px outset rgba(0, 0, 0, 0.9);
  padding: 10px 20px; 
  background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)) ;
  color:black;
  
}

.btn ul li a:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color:white;

}

/** about section **/ 

#about-content{
  align-items: flex-start;
  margin: 0 auto;
}

.self-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;        
  object-fit: cover;
  flex-shrink: 0;    
  float: right;    
  margin-right: 85px;   
   
}

.about-info{
  flex:1;
  max-width: 650px;
  padding: 10px 20px;
   margin-left: 40px;
}

.about-info p{
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1em;
  text-align: justify;   
  text-justify: inter-word;
  color:white;


}

/* documents section */ 

#document h4{
  text-align:center; 
  margin-bottom: 20px;
  font-size:20px;
  color:white; 
}


/* back to top */

#backToTop{
  position: fixed;
  right:20px;
  bottom: 20px;
  color:white;
  background-color:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  height:50px;
  width:50px;
  border-radius: 50%;
  display:flex;
  float: right;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(252, 249, 249, 0.925);
  opacity: 0;
  visibility:hidden;
  transition:  opacity 0.5s ease, visibility 0.4s;

    
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

#backToTop img {
  width: 80%;   
  height: auto; 
  object-fit: contain;
}


/* skills section */

.skill-grid{
  display:flex;
  justify-content: center;
  gap:50px;
  flex-wrap: wrap;
  padding:20px;
}

.column{
  display:flex;
  flex-direction: wrap;
  gap:20px;
}

.tech-skill, .so-skill{
  display:flex;
  align-items:center;
  gap:15px;
  background:white ;
  padding: 12px 20px;
  border-radius: 12px;
  min-width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.788);
}


.tech-skill span, .so-skill span {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}

.icon-wrapper{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.icon-wrapper img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.tech-skill:hover
, .so-skill:hover{
   transform: translateY(-3px);
  box-shadow:  0 4px 10px rgba(252, 249, 249, 0.925);
}

/* contact form*/

#contact {
  background-color:#0a192f;
  padding: 100px 20px;   
  min-height: 120vh;     
  width: 100%;
}

.contact-form {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ;
  border-radius: 12px;
  box-shadow:  0 4px 10px rgba(252, 249, 249, 0.925);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.contact-form label {
  font-weight: 400;
  text-align: left;
  color: white;
  display:flex;
  flex-direction: column;
  gap:10px;
  font-size: 1.2rem ;
  line-height: 1.8;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.contact-form textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74,144,226,0.2);
}

.contact-form button {
  padding: 14px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: #0a192f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  transform: translateY(-3px);
  box-shadow:  0 4px 10px rgba(252, 249, 249, 0.925);
}

/* projects */ 

#projects{
  background-color:#3a506b;
  padding: 100px 20px;   
  min-height: 120vh;     
  width: 100%;
}

.proj-sec ul{
  padding-top: 40px;
}

.proj-sec ul li a{
  text-decoration: none;
  color:white; 
  
}

.proj-sec ul li a:hover{
  text-decoration: underline;
}



