body {
    background-color: #E3F6FF;
    margin: 0;
   
}

.hgroup h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 20px;
    color: #00131D;
}

.city-tracker h3 {
    text-align: center;
    padding-top: 20px;
    color: #00131D;
}

.hgroup p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    color: #00322A;
    
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.display h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

input[type="button"] {
    border-radius: 30px;
    height: 30px;
    width: 120px;
    background-color: #049DD9;
    color: white;
    border: none;
}

input[type="button"]:hover {
    background-color: black;
}

input[type="text"] {
    width: 320px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}

.filter-buttons .time {
    background: #eee;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    margin: 0 5px;
}

.filter-buttons .time.active {
    background: white;
    border: 2px solid #ccc;
    border-bottom: white;
    font-weight: bold;
}

#past-table, #future-table {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

#past-table table, #future-table table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

.charts-canvas {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.12);
}

.chart-box {
    width: 100%;
    height: 400px;      
    margin-top: 20px;
    position: relative; 
}

.chart-box canvas {
    width: 100% ;
    height: 100% ;
    display: block;
}
